<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{userNow.image}}" alt="user-image" width="350px"
      style="margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <h3>{{userNow.name}}</h3>
    <h5>{{userNow.email}}</h5>
    {{!-- 如果是該用戶才顯示 EDIT 按鈕 --}}
    {{#ifCond id userId}}
    <a href="/users/{{userNow.id}}/edit" class="btn btn-success">Edit</a>
    {{/ifCond}}
  </div>
</div>